## Querying Microsoft SQL Serever

### Note: To display the result as a markdown table, I wrote a function that is located in the file [sql_to_md.py](https://github.com/Solar-P/Data_analytics_projects_SQL/blob/main/Advanced_queries/Sql_to_md.py)

In [1]:
import pyodbc

# Creating the SQL Server connection
server = 'your_server_name'
database = 'your_database_name'
conn = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;')
cursor = conn.cursor()

In [2]:
# Creating the table we will be working with
query = '''CREATE TABLE sales(
            Staff_ID VARCHAR(40) PRIMARY KEY,
            Department VARCHAR(40),
            Sales_Amount int);

            INSERT INTO sales VALUES ('001', 'Cosmetics', 500);
            INSERT INTO sales VALUES ('002', 'Cosmetics', 700);
            INSERT INTO sales VALUES ('003', 'Fashion', 1000);
            INSERT INTO sales VALUES ('004', 'Jewellery', 800);
            INSERT INTO sales VALUES ('005', 'Fashion', 850);
            INSERT INTO sales VALUES ('006', 'Kid', 500);
            INSERT INTO sales VALUES ('007', 'Cosmetics', 900);
            INSERT INTO sales VALUES ('008', 'Fashion', 600);
            INSERT INTO sales VALUES ('009', 'Fashion', 1200);
            INSERT INTO sales VALUES ('010', 'Jewellery', 900);
            INSERT INTO sales VALUES ('011', 'Kid', 700);
            INSERT INTO sales VALUES ('012', 'Fashion', 1500);
            INSERT INTO sales VALUES ('013', 'Cosmetics', 850);
            INSERT INTO sales VALUES ('014', 'Kid', 750);
            INSERT INTO sales VALUES ('015', 'Jewellery', 950);'''
cursor.execute(query)

|   Staff_ID | Department   |   Sales_Amount |
|-----------:|:-------------|---------------:|
|        001 | Cosmetics    |            500 |
|        002 | Cosmetics    |            700 |
|        003 | Fashion      |           1000 |
|        004 | Jewellery    |            800 |
|        005 | Fashion      |            850 |
|        006 | Kid          |            500 |
|        007 | Cosmetics    |            900 |
|        008 | Fashion      |            600 |
|        009 | Fashion      |           1200 |
|        010 | Jewellery    |            900 |
|        011 | Kid          |            700 |
|        012 | Fashion      |           1500 |
|        013 | Cosmetics    |            850 |
|        014 | Kid          |            750 |
|        015 | Jewellery    |            950 |

In [9]:
# Task #1: Calculate the total sales amount for each department and add the dept_total column to the sales table 
query = '''SELECT 
            Staff_ID, 
            Department, 
            Sales_Amount,
            SUM(Sales_Amount) OVER (PARTITION BY Department) AS dept_total
           FROM 
            sales;'''
cursor.execute(query)

|   Staff_ID | Department   |   Sales_Amount |   dept_total |
|-----------:|:-------------|---------------:|-------------:|
|        001 | Cosmetics    |            500 |         2950 |
|        002 | Cosmetics    |            700 |         2950 |
|        007 | Cosmetics    |            900 |         2950 |
|        013 | Cosmetics    |            850 |         2950 |
|        005 | Fashion      |            850 |         5150 |
|        012 | Fashion      |           1500 |         5150 |
|        008 | Fashion      |            600 |         5150 |
|        009 | Fashion      |           1200 |         5150 |
|        003 | Fashion      |           1000 |         5150 |
|        004 | Jewellery    |            800 |         2650 |
|        010 | Jewellery    |            900 |         2650 |
|        015 | Jewellery    |            950 |         2650 |
|        006 | Kid          |            500 |         1950 |
|        014 | Kid          |            750 |         1950 |
|        011 | Kid          |            700 |         1950 |

In [11]:
# Task #2: Rank sellers according to their performance in each department.
query = '''SELECT 
             Staff_ID, 
             Department, 
             Sales_Amount,
             RANK() OVER (PARTITION BY Department ORDER BY Sales_Amount DESC) AS Rank_in_Dept
           FROM 
             sales;'''
cursor.execute(query)

|   Staff_ID | Department   |   Sales_Amount |   Rank_in_Dept |
|-----------:|:-------------|---------------:|---------------:|
|        007 | Cosmetics    |            900 |              1 |
|        013 | Cosmetics    |            850 |              2 |
|        002 | Cosmetics    |            700 |              3 |
|        001 | Cosmetics    |            500 |              4 |
|        012 | Fashion      |           1500 |              1 |
|        009 | Fashion      |           1200 |              2 |
|        003 | Fashion      |           1000 |              3 |
|        005 | Fashion      |            850 |              4 |
|        008 | Fashion      |            600 |              5 |
|        015 | Jewellery    |            950 |              1 |
|        010 | Jewellery    |            900 |              2 |
|        004 | Jewellery    |            800 |              3 |
|        014 | Kid          |            750 |              1 |
|        011 | Kid          |            700 |              2 |
|        006 | Kid          |            500 |              3 |

In [19]:
# Task #3: Calculate the difference between the total sales of each seller and the average value for the department.
query = '''SELECT 
             Staff_ID, 
             Department, 
             Sales_Amount,
             Sales_Amount - AVG(Sales_Amount) OVER (PARTITION BY Department) AS sales_diff
           FROM 
             sales'''
cursor.execute(query)

|   Staff_ID | Department   |   Sales_Amount |   sales_diff |
|-----------:|:-------------|---------------:|-------------:|
|        001 | Cosmetics    |            500 |         -237 |
|        002 | Cosmetics    |            700 |          -37 |
|        007 | Cosmetics    |            900 |          163 |
|        013 | Cosmetics    |            850 |          113 |
|        005 | Fashion      |            850 |         -180 |
|        012 | Fashion      |           1500 |          470 |
|        008 | Fashion      |            600 |         -430 |
|        009 | Fashion      |           1200 |          170 |
|        003 | Fashion      |           1000 |          -30 |
|        004 | Jewellery    |            800 |          -83 |
|        010 | Jewellery    |            900 |           17 |
|        015 | Jewellery    |            950 |           67 |
|        006 | Kid          |            500 |         -150 |
|        014 | Kid          |            750 |          100 |
|        011 | Kid          |            700 |           50 |

In [4]:
# Creating the table with marketing costs
query = '''CREATE TABLE marketing_costs(
            Department VARCHAR(40) PRIMARY KEY,
            Marketing_costs int);

            INSERT INTO marketing_costs VALUES ('Cosmetics', 250);
            INSERT INTO marketing_costs VALUES ('Fashion', 350);
            INSERT INTO marketing_costs VALUES ('Jewellery', 275);
            INSERT INTO marketing_costs VALUES ('Kid', 400);'''
cursor.execute(query)

| Department   |   Marketing_costs |
|:-------------|------------------:|
| Cosmetics    |               250 |
| Fashion      |               350 |
| Jewellery    |               275 |
| Kid          |               400 |

In [10]:
# Task #4: Calculate the return on advertising spend (ROAS) for each department.
query = '''SELECT 
             Department, 
             dept_total,
             Marketing_costs,
             ROUND(CAST(dept_total AS DECIMAL(10,2)) / CAST(Marketing_costs AS DECIMAL(10,2)), 2) AS ROAS
           FROM 
             (SELECT
                s.Department,
                SUM(s.Sales_Amount) AS dept_total,
                MAX(mc.Marketing_costs) AS Marketing_costs
              FROM 
                sales s
              LEFT JOIN 
                marketing_costs mc
                ON s.Department=mc.Department
              GROUP BY s.Department) AS Subquery'''
cursor.execute(query)

| Department   |   dept_total |   Marketing_costs |   ROAS |
|:-------------|-------------:|------------------:|-------:|
| Cosmetics    |         2950 |               250 |  11.8  |
| Fashion      |         5150 |               350 |  14.71 |
| Jewellery    |         2650 |               275 |   9.64 |
| Kid          |         1950 |               400 |   4.88 |

In [9]:
# Task #5: Select all sellers who have sales above the average sales amount.
query = '''SELECT 
             Staff_ID, 
             Department, 
             Sales_Amount
           FROM 
             sales
           WHERE 
             Sales_Amount > (Select AVG(Sales_Amount) FROM sales);'''
cursor.execute(query)

|   Staff_ID | Department   |   Sales_Amount |
|-----------:|:-------------|---------------:|
|        003 | Fashion      |           1000 |
|        005 | Fashion      |            850 |
|        007 | Cosmetics    |            900 |
|        009 | Fashion      |           1200 |
|        010 | Jewellery    |            900 |
|        012 | Fashion      |           1500 |
|        013 | Cosmetics    |            850 |
|        015 | Jewellery    |            950 |